.wrap{
    position: relative;
    width: 100%;
}
.wrap .inner{
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.intro{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/intro_bg.png)no-repeat center/ cover;
}
.intro .inner{
    text-align: center;
}
.intro .tit{
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 0 30px;
    padding-top: 11.5740%;
    margin: 0 auto;
}
.intro_btn{
    width: 24.3333%;
    padding-top: 9%;
    background: url(../img/intro_start.png)no-repeat center/cover;
    font-size: 0;
    margin-top: 31px;
}